@import '../../styles/var/var.scss';

.primary__button {
  margin: 60px 0 0;

  button {
    font-family: $primaryFont;
    padding: 12px;
    background: $neonGreen;
    border: none;
    color: #FFF;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $neonGreen;
    transition: ease-out 0.4s;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $neonGreen;
      box-shadow: inset 400px 0 0 0 #fff;
    }
  
    &:focus {
      outline: none;
    }
  }
}
